@supports (grid-area: initial) {
  .grid-padding {
    grid-area: area;
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

.password-error-tool-tip {
  position: absolute;
  color: rgba(255, 0, 0, 0.721);
  top: 316px;
  right: 170px;
}
