@supports (grid-area: initial) {
  .grid-area-eprivileges {
    grid-area: area;
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

.employees-errors-tool-tip {
  position: absolute;
  color: rgba(255, 0, 0, 0.721);
  top: 8.25rem;
  right: 8rem;
}

.roles-errors-tool-tip {
  position: absolute;
  color: rgba(255, 0, 0, 0.721);
  top: 14rem;
  right: 11.25rem;
}

.roles-errors2-tool-tip {
  position: absolute;
  color: rgba(255, 0, 0, 0.721);
  top: 14rem;
  right: 9rem;
}
