.grid-dashboard {
  margin-left: 15vw;
  max-height: 100vh;
  height: 100vh;
  grid-template-areas:
    "top-bar top-bar"
    "area1 area2"
    "area3 area3";
  grid-template-rows: 1fr 1fr 3.5fr;
  grid-template-columns: 2.35fr 1fr;
}

.grid-area-area2 {
  grid-area: area2;
}

.grid-area-area3 {
  grid-area: area3;
}

.height-195 {
  height: 195px;
}

.height-295 {
  height: 295px;
}

.height-300 {
  height: 328px;
}
