.tasks-grid-area {
  grid-area: tasks1;
  background: white;
  overflow-y: scroll;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.table {
  margin-bottom: 0;
}

.row-header {
  position: sticky;
  top: 0;
  z-index: 0;
  background: transparent;
  border-bottom: 1px solid transparent;
}

.row-header-thick {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  border-bottom: 6px solid;
}

.table-hover > tbody > tr:hover > .no-hover {
  --bs-table-accent-bg: transparent !important;
}

input {
  accent-color: rgb(13, 202, 240);
}

tbody > tr > td,
th {
  height: 10px;
}

.custom-table {
  height: 100%;
}

.table-border-collapse {
  border-collapse: separate;
  border-spacing: 0;
}

.width-35 {
  max-width: 35rem;
}

input[type="checkbox"] {
  transition: all 150ms ease-in-out;
}

.custom-checkbox {
  vertical-align: middle;
  width: 1.1rem;
  height: 1.1rem;
  outline-offset: 1px;
}

.animated-checkbox-danger {
  animation: blink-danger 2s ease-in-out infinite;
}

@keyframes blink-danger {
  from {
    outline: 3px solid transparent;
  }
  50% {
    outline: 3px solid #dc3545;
  }
  to {
    outline: 3px solid transparent;
  }
}

.dropdown-item:active {
  background-color: rgb(13, 202, 240);
}

.pointer {
  cursor: pointer !important;
}

.margin-left-negative {
  padding-left: 2rem;
  margin-left: -2rem;
}

.dot-table-cell {
  word-wrap: break-word;
  width: 1rem;
}

.height-1-1 {
  height: 1.1rem;
  width: 1.1rem;
  vertical-align: middle;
}
