.tasks-grid-area {
  grid-area: tasks1;
  background: white;
  overflow-y: scroll;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.table {
  margin-bottom: 0;
}

.row-header {
  position: sticky;
  top: 0;
  z-index: 0;
  background: transparent;
  border-bottom: 1px solid transparent;
}

.row-header-thick {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  border-bottom: 6px solid;
}

.table-hover > tbody > tr:hover > .no-hover {
  --bs-table-accent-bg: transparent !important;
}

input {
  accent-color: rgb(13, 202, 240);
}

tbody > tr > td,
th {
  height: 10px;
}

.custom-table {
  height: 100%;
}

.table-border-collapse {
  border-collapse: separate;
  border-spacing: 0;
}
.ms-05 {
  margin-left: 0.15rem;
}
.me-25 {
  margin-right: 0.6rem;
}

.width-35 {
  max-width: 35rem;
}

input[type="checkbox"] {
  transition: all 150ms ease-in-out;
}

.scale-13 {
  vertical-align: middle;
    width : 15px;
  height : 15px;
}

.dropdown-item:active {
  background-color: rgb(13, 202, 240);
}
